<form
  [formGroup]="vacationsForm"
  (ngSubmit)="onSubmit()"
  class="d-flex flex-column mt-2"
>
  <mat-form-field appearance="fill" class="col-6">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input
        matStartDate
        formControlName="startDate"
        placeholder="Start date"
      />
      <input matEndDate formControlName="endDate" placeholder="End date" />
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>

    @if (vacationsForm.controls.startDate.hasError('required')) {
    <mat-error>Invalid start date</mat-error>
    } @if (vacationsForm.controls.endDate.hasError('required')) {
    <mat-error class="mb-2">Invalid end date</mat-error>
    }
  </mat-form-field>

  <button mat-raised-button type="submit" class="col-3 mt-4">
    Request Vacations
  </button>
</form>
