<div class="container mt-3">
  <h2>Vacations</h2>

  <mat-card class="mb-4">
    <mat-card-title class="text-center">Vacation Dates</mat-card-title>
    <mat-card-content>
      <app-calendar></app-calendar>
    </mat-card-content>
  </mat-card>

  <mat-card class="mb-4">
    <mat-card-title class="text-center">Vacation Balance</mat-card-title>
    <mat-card-content>
      <app-balance></app-balance>
    </mat-card-content>
  </mat-card>

  <mat-card class="mb-4">
    <mat-card-title class="text-center">Vacation Requests</mat-card-title>
    <mat-card-content>
      <app-requests></app-requests>
    </mat-card-content>
  </mat-card>

  <mat-card class="mb-4">
    <mat-card-title class="text-center">Vacation Policies</mat-card-title>
    <mat-card-content>
      <app-policies></app-policies>
    </mat-card-content>
  </mat-card>
</div>
