<mat-toolbar class="mat-elevation-z3">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>HR Nexus</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened class="border vh-100">
    <mat-nav-list>
      <a routerLink="/home">
        <mat-list-item>
          <mat-icon>home</mat-icon>
          Home
        </mat-list-item>
      </a>
      <a routerLink="/employees">
        <mat-list-item>
          <mat-icon>assignment_ind</mat-icon>
          Employees
        </mat-list-item>
      </a>
      <a routerLink="/attendances">
        <mat-list-item>
          <mat-icon>assignment_turned_in</mat-icon>
          Attendances
        </mat-list-item>
      </a>
      <a routerLink="/reports">
        <mat-list-item>
          <mat-icon>graphic_eq</mat-icon>
          Reports
        </mat-list-item>
      </a>
      <a routerLink="/development-plans">
        <mat-list-item>
          <mat-icon>developer_board</mat-icon>
          Development Plans
        </mat-list-item>
      </a>
      <a routerLink="/feedbacks">
        <mat-list-item>
          <mat-icon>feedback</mat-icon>
          Feedbacks
        </mat-list-item>
      </a>
      <a routerLink="/vacations">
        <mat-list-item>
          <mat-icon>wb_sunny</mat-icon>
          Vacations
        </mat-list-item>
      </a>
      <a routerLink="/settings">
        <mat-list-item>
          <mat-icon>settings</mat-icon>
          Settings
        </mat-list-item>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
    <div class="mt-2">
      <app-footer></app-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
